body{

font-family:Arial;

padding:20px;

background:#f4f6f9;

color:black;

transition:0.3s;

}

.dark{

background:#121212;

color:white;

}

li{

background:white;

padding:10px;

margin-bottom:10px;

border-radius:8px;

}

.dark li{

background:#1f1f1f;

}

button{

padding:10px;

margin:5px;

}